* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container .random-password {
  border-bottom: 4px solid #019f55;
  color: #019f55;
  width: 100%;
  padding-bottom: 7px;
}

.generator {
  margin-top: 50px;
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  justify-content: space-between;
  padding: 26px 20px;
  gap: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  color: #333;
}

#password-field {
  border: none;
  outline: none;
  font-size: 24px;
}

.generator img {
  width: 30px;
  cursor: pointer;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #019f55;
  cursor: pointer;
  font-size: 22px;
  font-weight: 300;
  border: none;
  outline: none;
  padding: 16px 26px;
  border-radius: 5px;
  color: #fff;
}

.generate-btn:active {
  background: rgb(54, 151, 103);
}

.generate-btn img {
  height: 28px;
  margin-right: 10px;
}
